/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {

    margin: 0 auto;
    max-width: 980px;
    width: 100%;
}

/* Add this CSS to your styles.css file */

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-left: 20px;
}

/* Overview Hero */
.overview-hero .container{
  display: flex;
  align-items: center;
}

.overview-hero-text {
  float: left;
  text-align: left;
  margin-left: -130%;  
  text-wrap: auto;
}

.overview-hero-image img {
  max-width: 30%;
  margin-right: 0px;
}

/* Learn About Section (CSS Grid) */
.learn-about .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0; /* Adjust padding as needed */
}

.learn-about h2{
  align-self: flex-start;
  margin-bottom: 2%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  

}

.card {
  flex-basis: calc(33.33% - 10px); /* Set width for each card, accounting for margin */
  margin-bottom: 20px; /* Add margin between cards */
  background-color: #fff; /* Set background color if desired */
  border: 1px solid #ccc; /* Add border for card */
  border-radius: 8px; /* Add border radius for rounded corners */

}

.card img {
  width: 150px;
  height: 150px;
  padding-left: 80px;
  padding-top: 10%;
}

.card-body {
  text-align: center;
  margin: 10px;
}

/* Testing Section */
.testing{
  padding: 100px;
}
.testing-desciption{
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0px 0; /* Adjust padding as needed */
}

.testing-desciption p{
  display: flex;
  padding-right: 35%;

}

.testing a{
  display: flex;
  margin-top: -5%;
  margin-left: 85%;
}





