/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    display: flex;
    margin: 0 auto;
    max-width: 980px;
    width: 100%;
}

/* Add this CSS to your styles.css file */

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-left: 20px;
}

/* Overview Hero */
.overview-hero .container{
  display: flex;
  align-items: center;
}

.overview-hero-text {
  float: left;
  text-align: left;
  margin-left: -130%;  
  text-wrap: auto;
}

.overview-hero-image img {
  max-width: 30%;
  margin-right: 0px;
}

/* Learn About Section (CSS Grid) */
.learn-about .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0; /* Adjust padding as needed */
}

.learn-about h2{
  align-self: flex-start;
  margin-bottom: 2%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  

}

.card {
  flex-basis: calc(33.33% - 10px); /* Set width for each card, accounting for margin */
  margin-bottom: 20px; /* Add margin between cards */
  background-color: #fff; /* Set background color if desired */
  border: 1px solid #ccc; /* Add border for card */
  border-radius: 8px; /* Add border radius for rounded corners */

}

.card img {
  width: 150px;
  height: 150px;
  padding-left: 80px;
  padding-top: 10%;
}

.card-body {
  text-align: center;
  margin: 10px;
}

/* Testing Section */
.testing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

/* Recent Stories */
.stories article {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.stories article img {
  max-width: 150px;
  margin-right: 20px;
}

.article-body {
  flex-grow: 1;
}

/* Newsletter Section */
.newsletter {
  text-align: center;
}

.form-group {
  display: inline-block;
  margin-right: 10px;
}

input[type="email"] {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
}

.btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.message {
  margin-top: 10px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
}
